.container{
   width: 100%;
   height: 100vh;    
   background-color: darkgray;
}
table{
    position: relative;
    left: 12%;
}
.fa{
    font-size: 200%;
}
fieldset{
    width:35%;
    height:30%;
    margin:auto;
    padding-top:25px;
    padding-bottom:40px;
    border-radius:50px;
    font-size:normal;
    margin-top:15%;
    border:5px solid pink;
    background-color: burlywood;
}
fieldset:hover{
    border: 5px solid blue;
    background-color: rgb(144, 205, 84);
}
legend{
    font-size:30px;
    text-align:center;
}
img{
    border-radius:50px;
    border:solid pink;
    padding-top:20px;
}
.uid{
    padding: 5px;
    margin-bottom: 10%;
    margin-left: 10%;
}
.psw{
    padding: 5px;
    margin-bottom: 10%;
    margin-left: 10%;
}
.login{
    color:blue;
}
label{
    font-size:20px;
    position: relative;
    bottom: 7px;
}
.blue{
    width:300%;
    height:300%;
    border-color:aquamarine;
    margin-left: 20px;
}